
.body{

	margin: 0;
	display: flex;
	

}



.bubbles{

	position: absolute;

	margin-top: 2em;
}

.h6{
background-color: blue;
	position: absolute;
	margin-top: 0.5em;
	margin-left: 50%;
	opacity: 1;
}
.video {

	margin-top: auto;
	background-position: center;

}