@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
	margin: 0;
	font-family: 'Satisfy', cursive;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	overflow: hidden; yellow
	
	background: -ms-linear-gradient(45deg, red, yellow );
        background: -webkit-linear-gradient(45deg, red, yellow );
        background: -moz-linear-gradient(45deg, red, yellow );

	display: inline-table;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

div {
	font-family: 'Satisfy', cursive;
	font-size: 16vmin;
	-webkit-text-stroke: 0px #0000004f;
	-webkit-text-fill-color: #ffffff1c;
	text-shadow: -3px -3px 3px #00000040;
	background-repeat: repeat;
	background-position: center center;
	background-size: contain;
	-webkit-text-fill-color: #002e422e;
	-webkit-background-clip: text;
	letter-spacing: 1px;
	display: inline-flex;
	width: 50vw;
	height: 38vh;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}



.bubbles {
	width: 100vw;
	height: 24vh;
	background-image: url(https://c.tenor.com/OPMJAHXKIU0AAAAd/looking-water.gif);
	-webkit-text-fill-color: #9c27b017;
	text-shadow: -3px -3px 10px #9c27b030, 3px 3px 10px #0000004f;
}
